language: android
sudo: false
jdk: oraclejdk8

cache:
  directories:
    - $HOME/.gradle/caches/4.4.1
    - $HOME/.gradle/caches/jars-1
    - $HOME/.gradle/daemon
    - $HOME/.gradle/native
    - $HOME/.m2
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

before_install:
  - chmod +x gradlew

android:
  components:
    - tools
    - build-tools-26.0.2
    - android-26
    - platform-tools

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-android-support

deploy:
- provider: script
  script: ./gradlew publishApkRegularRelease
  skip_cleanup: true
  on:
    tags: true

before_install:
  - openssl aes-256-cbc -K $encrypted_7a9050c9a8a8_key -iv $encrypted_7a9050c9a8a8_iv -in secrets.tar.enc -out secrets.tar -d
  - tar xvf secrets.tar

script:
  - ./gradlew test -PdisablePreDex --continue --stacktrace
  #- ./gradlew assembleFastBuildDebug -PdisablePreDex
  #- emulator -avd test -no-skin -no-audio -no-window &
  #- android-wait-for-emulator
  #- adb shell input keyevent 82 &
  #- ./gradlew :app:connectedFastBuildDebugAndroidTest -PdisablePreDex --stacktrace
